//font
$mainFont : 'Montserrat Bold',
'Arial',
serif;
$mainFontRegular : 'Montserrat Regular',
'Arial',
serif;
$titleHeader : 'Raleway',
'Arial',
serif;
$titleTextFont : 'Raleway ExtraLight',
'Arial',
serif;
$titleFont : 'Raleway Bold',
'Arial',
serif;
$taglineFont : 'Raleway SemiBold',
'Arial',
serif;
$textFont : 'Raleway Medium',
'Arial',
serif;
$spanFont : 'Raleway Light',
'Arial',
serif;
$namesFont : 'Raleway Regular',
'Arial',
serif;

//color
$navColor        : #626262;
$bgCategories    : #ffe9e2;
$bgcButtonSlider : #949088;
$brdColor        : #eae9e7;
$bgcBlog         : #eff0f1;
$bgcInput        : #f2f4f5;
